<!-- recipe editor navigation tabs -->
<a href="#/recipeEditor"
  ng-click="recipeEditor.changeTab(tab)"
  ng-repeat="tab in recipeEditor.tabs">
  {{tab}}</a>

<button ng-click="recipeEditor.saveRecipe()">Save Recipe</button>

<!-- form for user manually adding ingredients -->
  <form ng-submit="recipeEditor.addIngredient(recipeEditor.userText)">
    <input ng-model="recipeEditor.userText" type="text">
    <input type="submit" value="Add Ingredients">
  </form>

<div class="container-fluid">
  <!-- div displays the ingredients chosen by user -->
    <div class="col-sm-3">
      <h3>Ingredients:</h3>
      <div ng-repeat="ingredient in recipeEditor.recipe.ingredients">
        <p>{{ingredient.userIngredientName}} <button ng-click="recipeEditor.removeIngredient(ingredient)">x</button></p>
      </div>
    </div>



<!-- html pages to display base on what recipe editor navigation tab is selected -->
<div ng-include="'/app/recipeEditor/recipe.html'" ng-show="recipeEditor.viewTab === 'Recipe'"></div>
<div ng-include="'/app/recipeEditor/pairing.html'" ng-show="recipeEditor.viewTab === 'Food Pairing'"></div>
<div ng-include="'/app/recipeEditor/nutrition.html'" ng-show="recipeEditor.viewTab === 'Nutrition'"></div>
</div>
