<div>

  <label for="recipeTitle">Title:</label>
  <input type="text" id="recipeTitle" ng-model="recipeEditor.recipe.title">

  <label for="recipeAuthor">Author:</label>
  <input type="text" id="recipeAuthor" ng-model="recipeEditor.recipe.author">


  <div class="container">
    <div class="col-sm-4">
      <h2>Amount:</h2>
      <div ng-repeat="ingredient in recipeEditor.recipe.ingredients">
        <input type="text" ng-model="ingredient.amount">
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Additional Info:</h2>
      <div ng-repeat="ingredient in recipeEditor.recipe.ingredients">
        <input type="text" ng-model="ingredient.additionalInfo">
      </div>
    </div>
  </div>


  <div>
    <h2>Directions:</h2>
    <textarea cols="50" rows="10" ng-model="recipeEditor.recipe.directions"></textarea>
  </div>

</div>
