<!-- ************ Recipe Editor Tabs ************ -->
<div class="container">
  <div class="panel panel-default editorPanel">
      <div class="panel-heading editorPanelHeading">
        <ul class="nav nav-tabs editorNavbar">
          <li ng-repeat="tab in recipeEditor.tabs" ng-class="{ active: tab === recipeEditor.viewTab }">
            <a ng-click="recipeEditor.changeTab(tab)"
               href="#/recipeEditor"
               class="navbarText"><h3>{{tab}}</h3></a>
          </li>

        </ul>
      </div>

      <div class="panel-body">
        <div class="row">
          <button class="btn btn-primary col-sm-offset-10"
                  ng-click="recipeEditor.saveRecipe()"
                  >Save Recipe
          </button>
        </div>

        <!-- ************ Ingredients Table ************ -->
        <!-- displays the table with columns based on the tab selected -->
        <div class="recipeEditor-container table-responsive" ng-hide="recipeEditor.viewTab === 'Recipe'">
          <h2 class="title">Ingredients</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Ingredient</th>
                <th ng-show="recipeEditor.viewTab === 'Food Pairing'">Flavor Profile</th>
                <th ng-show="recipeEditor.viewTab === 'Nutrition'">Nutrition Profile</th>
                <th ng-show="recipeEditor.viewTab === 'Nutrition'">USDA Units</th>
                <th ng-show="recipeEditor.viewTab === 'Nutrition'">Amount in Recipe</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="ingredient in recipeEditor.recipe.ingredients">
                <td>{{ingredient.userIngredientName}}
                  <button class="btn btn-xs btn-danger" ng-click="recipeEditor.removeIngredient(ingredient)">Remove</button>
                </td>

                <!-- ************ Pairing Columns ************ -->
                <!-- Flavor Profile -->
                <td ng-show="recipeEditor.viewTab === 'Food Pairing'"
                    class="form-group">
                  <select class="form-control"
                          ng-change="recipeEditor.addFlavorProfile(ingredient, selected)"
                          ng-model="selected">
                    <option selected
                            disabled
                            value="">{{ingredient.flavorProfile.name}}</option>
                    <option ng-repeat="option in ingredient.searchedIngredients"
                            value="{{option}}">{{option.name}}</option>
                    <option value="ignore">Ignore this Ingredient</option>
                  </select>
                </td>

                <!-- ************ Nutrition Columns ************ -->
                <!-- Nutrition Profile -->
                <td ng-show="recipeEditor.viewTab === 'Nutrition'"
                    class="form-group">
                  <select class="form-control"
                          ng-model="ingredient.ndbno"
                          ng-options="option.ndbno as option.name for option in ingredient.searchedUSDAIngredients"
                          ng-change="recipeEditor.getNutritionInfo(ingredient)">
                    <option value="">Select the closest option</option>
                  </select>
                </td>

                <!-- USDA Units -->
                <td ng-show="recipeEditor.viewTab === 'Nutrition'">
                  <p>{{ingredient.nutritionProfile.USDAUnit}}</p>
                </td>

                <!-- Amount in Recipe -->
                <td class="form-group"
                    ng-show="recipeEditor.viewTab === 'Nutrition'">
                  <input class="form-control number-input"
                         type="number"
                         ng-model="ingredient.nutritionProfile.USDAAmount"
                         ng-change="recipeEditor.updateNutritionValues()">
                </td>
              </tr>

              <!-- ************ Add Ingredient ************ -->
              <tr>
                <td>
                  <form class="form-group"
                        ng-submit="recipeEditor.addIngredient(recipeEditor.userText)">
                    <input class="form-control"
                           ng-model="recipeEditor.userText"
                           type="text"
                           placeholder="Add Ingredient">
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


          <!-- html pages to display base on what recipe editor navigation tab is selected -->
          <div ng-include="'app/recipeEditor/recipe.html'" ng-show="recipeEditor.viewTab === 'Recipe'"></div>
          <div ng-include="'app/recipeEditor/pairing.html'" ng-show="recipeEditor.viewTab === 'Food Pairing'"></div>
          <div ng-include="'app/recipeEditor/nutrition.html'" ng-show="recipeEditor.viewTab === 'Nutrition'"></div>

    </div>
  </div>
</div>
