
<div class="container">
<button class="btn btn-lg btn-primary center-block new-recipe-btn"
        ng-click="userHome.newRecipe()">New Recipe</button>
  <div ng-repeat="recipe in userHome.userRecipes">
    <div class="col-sm-4 col-md-3">
      <div class="card">
        <div ng-click="userHome.viewRecipe(recipe)">
          <img class="img-responsive card-image" src="{{recipe.photoURL}}">
          <h3 class="card-title">{{recipe.title}}</h3>
          <div class="card-author">
            <h5>By: {{recipe.author}}</h5>
          </div>
        </div>
        <button class="edit-button btn btn-xs btn-primary" ng-click="userHome.editRecipe(recipe)">Edit Recipe</button>
      </div>
    </div>
  </div>
</div>
