<div class="container">
  <button class="btn btn-lg btn-primary center-block new-recipe-btn"
          ng-click="userHome.newRecipe()">New Recipe</button>
  <div ng-repeat="recipe in userHome.userRecipes"
       class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="panel cardPanel">
      <div class="panel-heading cardPanelHeading">
        <h3>{{recipe.title}}</h3>
        <p>By: {{recipe.author}}</p>
      </div>
      <div class="panel-body card-body">
        <!-- Card Image -->
        <div class="card-image-container">
          <img class="img-responsive card-image" src="{{recipe.photoURL}}">
        </div>
        <!-- Card Buttons -->
        <button class="btn btn-primary card-button view-button pull-left"
                ng-click="userHome.viewRecipe(recipe)">View</button>
        <button class="btn btn-info card-button edit-button"
                ng-click="userHome.editRecipe(recipe)">Edit</button>
        <button class="btn btn-danger card-button delete-button pull-right"
                ng-click="userHome.deleteRecipe(recipe)">Delete</button>
      </div>
    </div>
  </div>
</div>
