/************ General Site Styles ************/

html,
.ngview {
  /*background-color: #00bf94;*/
  background-image: url("light-wood.jpg");
  background-size: cover;
}

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #6b4423;
  border: none;
}


.navbarText {
  color: #e0cda7;
}

/*.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
*/
.navbar-nav li a:active,
.navbar-nav li a:hover,
.navbar-nav li a:focus{
  background-color: #ac8f57;
  color: #6b4423;
}




.panel {
  margin-top: 10vh;
  border-color: #B73E18;
  box-shadow: 20px 20px 20px;
}

.panel-heading {
  background-color: #B73E18;
}

.panel-body {
  /*background-color: lightblue;*/
  background-image: url("paper.jpg");
  background-size: cover;
}

.recipeEditor-container,
.view-container {
  /*background-color: whitesmoke;*/
  /*background-size: cover;*/
}

.new-recipe-btn {
  margin-top: 15px;
}



/************ Card Styles ************/

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  height: 320px;
  text-align: center;
  background-color: white;
}

.card-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-height: 185px;
}

.card .card-title {
  padding: 16px 0px 8px;
}

.edit-button {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.delete-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.suggestion-card {
  height: 350px;
}

.suggestion-card {
  text-align: center;
}

.suggestion-image {
  height: 202.5px;
}

.suggestion-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}



/************ Inputs/Forms ************/

.form-control {
  max-width: 300px;
}

.number-input {
  max-width: 100px;
}

#directions {
  max-width: 100%;
}



/************ Login Page ************/

.login-input {
  max-width: 100%;
  margin: 20px 0;
}

.auth-btn {
  width: 100%;
}



/************ View Recipe Page ************/

.view-img {
  max-width: 100%;
  max-height: 400px;
  padding: 0;
  margin-top:10px;
  border-radius: 2em;
}
