<h1>Greetings Globe</h1>

<label for="recipeTitle">Title:</label>
<input type="text" id="recipeTitle" ng-model="recipe.title">

<label for="recipeAuthor">Author:</label>
<input type="text" id="recipeAuthor" ng-model="recipe.author">

<form ng-submit="">
  <input ng-model="recipe.ingredient" type="text">
  <input type="submit" value="Add Ingredient" ng-click="">
</form>

<div class="container">
  <div class="col-sm-4">
    <h2>Ingredients:</h2>
  </div>

  <div class="col-sm-4">
    <h2>Amount:</h2>
  </div>

  <div class="col-sm-4">
    <h2>Additional Info:</h2>
  </div>


</div>


<div>
  <!-- directions text area -->
</div>
