<div class="container-fluid">
  <div class="col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
    <div class="panel">
      <div class="panel-heading text-center">
        <h2>Login / Register</h2>
      </div>
      <div class="panel-body">
        <form ng-submit="auth.login()"
              class="form-group">
          <input type="email"
                 ng-model="auth.user.email"
                 placeholder="Email"
                 class="form-control login-input">
          <input type="password"
                 ng-model="auth.user.password"
                 placeholder="Password"
                 class="form-control login-input">
          <input type="submit"
                 value="Login"
                 class="btn btn-primary auth-btn">
          <button ng-click="auth.register()"
                  class="btn btn-warning auth-btn pull-right"
                  type="button">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
